.homeContainer {
    text-align: center;
    padding: 20px;
}

/* alinear Jumbotron con las cards */
.jumbotronWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
